@charset "UTF-8";
html {
  width: 100%;
  height: 100%;
  background-color: white;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-animation: load 1.5s;
  animation: load 1.5s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes load {
  0% {
    opacity: 1;
    background-color: #FF79DA;
  }
  90% {
    opacity: 0.5;
    background-color: #FF79DA;
  }
  100% {
    opacity: 0;
    background-color: #FF79DA;
    z-index: -10;
  }
}

@keyframes load {
  0% {
    opacity: 1;
    background-color: #FF79DA;
  }
  90% {
    opacity: 0.5;
    background-color: #FF79DA;
  }
  100% {
    opacity: 0;
    background-color: #FF79DA;
    z-index: -10;
  }
}

* {
  font-family: Roboto,sans-serif;
}

#Menu h1 {
  font-family: 'Shrikhand', cursive;
}

.Menu h1 {
  font-family: 'Shrikhand', cursive;
}

h2 {
  font-weight: bold;
  padding-left: 5px;
}

ul {
  list-style-type: none;
}

.recherche i {
  color: grey;
}

a {
  text-decoration: none;
}

.button {
  background: #f04fc3;
  background: -webkit-gradient(linear, left top, left bottom, from(#f04fc3), to(#6f3dac));
  background: linear-gradient(180deg, #f04fc3 0%, #6f3dac 100%);
  color: white;
  padding: 1em 1.5em 1em 1.5em;
  border-radius: 1.5em;
  border-color: white;
}

.Logo img {
  height: 30%;
  width: 40%;
  padding-left: 30%;
  padding-top: 1em;
}

@media screen and (min-width: 780px) {
  .Logo img {
    height: 30%;
    width: 20%;
    padding-left: 40%;
  }
}

@media screen and (min-width: 650px) {
  .Logo img {
    height: 2em;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: rgba(241, 233, 233, 0.795);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 35%;
}

.navbar i {
  padding-right: 1%;
}

@media screen and (min-width: 780px) {
  .navbar {
    padding-left: 45%;
  }
}

@media screen and (min-width: 780px) {
  .navbar {
    padding-left: 42%;
  }
}

.search {
  width: 100%;
  height: 3em;
  border: none;
  font-weight: bold;
  background-color: rgba(241, 233, 233, 0.795);
}

.info {
  text-align: center;
  padding: 1em;
}

.info h1 {
  font-weight: bold;
  font-size: 29px;
}

.recherche {
  padding: 0%;
  margin: 0 5px 0 5px;
}

.recherche h2 {
  font-weight: bold;
  font-size: 23px;
}

.recherche ul {
  padding: 0;
  margin: 1em;
}

.recherche li {
  padding: 1em;
  -webkit-box-shadow: 5px 5px 15px 5px #c2bdbd;
          box-shadow: 5px 5px 15px 5px #c2bdbd;
  border-radius: 1em;
  margin-bottom: 1em;
  height: 1.5em;
  font-weight: bold;
}

.recherche li :hover {
  color: #9356DC;
}

.recherche li span {
  background-color: #9356DC;
  color: white;
  padding: 3px 7px 3px 7px;
  border-radius: 16px;
  margin-left: -1.5em;
}

.recherche li span:hover {
  color: white;
}

.recherche li i {
  width: 1.5em;
  padding-left: 5px;
}

@media screen and (min-width: 780px) {
  .recherche ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-left: 5%;
    margin-top: 4%;
  }
  .recherche li {
    margin-right: 10%;
    width: 17em;
  }
}

@media screen and (min-width: 780px) and (min-width: 780px) {
  .recherche ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .recherche li {
    margin-right: 1em;
    width: 30em;
    font-size: small;
  }
}

#Restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#Restaurant .Restoration, #Restaurant .Restoration1, #Restaurant .Restoration2, #Restaurant .Restoration3 {
  -webkit-box-shadow: 5px 5px 15px 5px grey;
          box-shadow: 5px 5px 15px 5px grey;
  border-radius: 1em;
  margin-bottom: 10px;
  margin-left: 2em;
  width: 80%;
}

#Restaurant .Restoration img, #Restaurant .Restoration1 img, #Restaurant .Restoration2 img, #Restaurant .Restoration3 img {
  width: 100%;
  height: 8em;
  border-radius: 1em 1em 0 0;
}

#Restaurant .Restoration figure, #Restaurant .Restoration1 figure, #Restaurant .Restoration2 figure, #Restaurant .Restoration3 figure {
  margin: 0;
  font-weight: bold;
}

#Restaurant .Restoration figure span, #Restaurant .Restoration1 figure span, #Restaurant .Restoration2 figure span, #Restaurant .Restoration3 figure span {
  background-color: #99E2D0;
  padding: 0.3em 1em 0.3em 1em;
  position: absolute;
  margin-left: -7em;
  margin-top: 10px;
  color: #135e13;
}

#Restaurant .Restoration figcaption, #Restaurant .Restoration1 figcaption, #Restaurant .Restoration2 figcaption, #Restaurant .Restoration3 figcaption {
  text-align: left;
  padding-left: 10px;
}

#Restaurant .Restoration p, #Restaurant .Restoration1 p, #Restaurant .Restoration2 p, #Restaurant .Restoration3 p {
  text-align: left;
  margin: 5px 0 25px 10px;
}

#Restaurant .Restoration p i, #Restaurant .Restoration1 p i, #Restaurant .Restoration2 p i, #Restaurant .Restoration3 p i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: -30px;
  margin-right: 15px;
  font-size: 1.5em;
}

@media screen and (min-width: 780px) {
  #Restaurant {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  #Restaurant h2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / 2 / 3;
    height: 2em;
    padding-left: 1%;
  }
  #Restaurant .Restoration {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
    height: 14em;
    margin-top: -6em;
  }
  #Restaurant .Restoration1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2 / 2 / 3 / 3;
    height: 14em;
    margin-top: -6em;
  }
  #Restaurant .Restoration2 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3 / 1 / 4 / 2;
    height: 14em;
    margin-top: -2em;
  }
  #Restaurant .Restoration3 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 3 / 2 / 4 / 3;
    height: 14em;
    margin-top: -2em;
  }
}

footer {
  background-color: #1a1818;
  height: 10em;
}

footer h2 {
  color: white;
  font-family: 'Shrikhand', cursive;
  font-size: 20px;
  padding-left: 1em;
}

footer ul {
  color: white;
}

footer ul li {
  padding-bottom: 5px;
}

footer ul a {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 650px) {
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  footer li {
    padding-left: 2em;
  }
}

.Logo-retour {
  color: grey;
  margin-top: -30px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 1.5em;
}

.Menu img {
  height: 20em;
  width: 100%;
}

.Menu h1 {
  font-size: 1.7em;
  font-family: Shrikhand,sans-serif;
  margin-top: -35px;
  padding-top: 7px;
  border-radius: 1.2em 1.2em 0 0;
  background-color: white;
  position: relative;
  padding-left: 1em;
}

.Menu .Menu-1 h2, .Menu .Menu-2 h2, .Menu .Menu-3 h2, .Menu .Menu-4 h2 {
  width: 3em;
  border-bottom: solid 2px #99E2D0;
  margin-left: 1em;
}

.Menu .Menu-1 .Food1, .Menu .Menu-1 .Food2, .Menu .Menu-1 .Food3, .Menu .Menu-2 .Food1, .Menu .Menu-2 .Food2, .Menu .Menu-2 .Food3, .Menu .Menu-3 .Food1, .Menu .Menu-3 .Food2, .Menu .Menu-3 .Food3, .Menu .Menu-4 .Food1, .Menu .Menu-4 .Food2, .Menu .Menu-4 .Food3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: white;
  margin: -4.6rem 6rem -1rem 14.5em;
  width: 2rem;
  height: 4.02em;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.Menu .Menu-1 .Food1 .euros, .Menu .Menu-1 .Food2 .euros, .Menu .Menu-1 .Food3 .euros, .Menu .Menu-2 .Food1 .euros, .Menu .Menu-2 .Food2 .euros, .Menu .Menu-2 .Food3 .euros, .Menu .Menu-3 .Food1 .euros, .Menu .Menu-3 .Food2 .euros, .Menu .Menu-3 .Food3 .euros, .Menu .Menu-4 .Food1 .euros, .Menu .Menu-4 .Food2 .euros, .Menu .Menu-4 .Food3 .euros {
  font-weight: bold;
  border-radius: 0;
  width: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3em;
  padding-top: 1em;
  margin-left: -2em;
  margin-right: 10px;
}

.Menu .Menu-1 .Food1 .Check, .Menu .Menu-1 .Food2 .Check, .Menu .Menu-1 .Food3 .Check, .Menu .Menu-2 .Food1 .Check, .Menu .Menu-2 .Food2 .Check, .Menu .Menu-2 .Food3 .Check, .Menu .Menu-3 .Food1 .Check, .Menu .Menu-3 .Food2 .Check, .Menu .Menu-3 .Food3 .Check, .Menu .Menu-4 .Food1 .Check, .Menu .Menu-4 .Food2 .Check, .Menu .Menu-4 .Food3 .Check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  width: 4rem;
  height: 4.6rem;
  margin-right: -8rem;
  border-radius: 0 1em 1em 0;
  background-color: #99E2D0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

@media screen and (min-width: 650px) {
  .Menu .Menu-1 .Food1 .Check, .Menu .Menu-1 .Food2 .Check, .Menu .Menu-1 .Food3 .Check, .Menu .Menu-2 .Food1 .Check, .Menu .Menu-2 .Food2 .Check, .Menu .Menu-2 .Food3 .Check, .Menu .Menu-3 .Food1 .Check, .Menu .Menu-3 .Food2 .Check, .Menu .Menu-3 .Food3 .Check, .Menu .Menu-4 .Food1 .Check, .Menu .Menu-4 .Food2 .Check, .Menu .Menu-4 .Food3 .Check {
    margin-right: -7rem;
  }
}

@media screen and (min-width: 780px) {
  .Menu .Menu-1 .Food1 .Check, .Menu .Menu-1 .Food2 .Check, .Menu .Menu-1 .Food3 .Check, .Menu .Menu-2 .Food1 .Check, .Menu .Menu-2 .Food2 .Check, .Menu .Menu-2 .Food3 .Check, .Menu .Menu-3 .Food1 .Check, .Menu .Menu-3 .Food2 .Check, .Menu .Menu-3 .Food3 .Check, .Menu .Menu-4 .Food1 .Check, .Menu .Menu-4 .Food2 .Check, .Menu .Menu-4 .Food3 .Check {
    margin-right: -8rem;
  }
}

.Menu .Menu-1 .Food1 .Check i, .Menu .Menu-1 .Food2 .Check i, .Menu .Menu-1 .Food3 .Check i, .Menu .Menu-2 .Food1 .Check i, .Menu .Menu-2 .Food2 .Check i, .Menu .Menu-2 .Food3 .Check i, .Menu .Menu-3 .Food1 .Check i, .Menu .Menu-3 .Food2 .Check i, .Menu .Menu-3 .Food3 .Check i, .Menu .Menu-4 .Food1 .Check i, .Menu .Menu-4 .Food2 .Check i, .Menu .Menu-4 .Food3 .Check i {
  color: white;
  font-size: 1.5em;
  width: 2em;
  border-radius: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin-right: 0px;
}

@media screen and (min-width: 650px) {
  .Menu .Menu-1 h1, .Menu .Menu-2 h1, .Menu .Menu-3 h1, .Menu .Menu-4 h1 {
    padding-left: 1em;
  }
  .Menu .Menu-1 i, .Menu .Menu-2 i, .Menu .Menu-3 i, .Menu .Menu-4 i {
    padding-left: 1em;
  }
  .Menu .Menu-1 .Food1, .Menu .Menu-2 .Food1, .Menu .Menu-3 .Food1, .Menu .Menu-4 .Food1 {
    margin-left: 16em;
    height: 4em;
  }
  .Menu .Menu-1 .Food2, .Menu .Menu-2 .Food2, .Menu .Menu-3 .Food2, .Menu .Menu-4 .Food2 {
    margin-left: 16em;
    height: 4em;
  }
  .Menu .Menu-1 .Food3, .Menu .Menu-2 .Food3, .Menu .Menu-3 .Food3, .Menu .Menu-4 .Food3 {
    margin-left: 16em;
    height: 4em;
  }
}

@media screen and (min-width: 780px) {
  .Menu .Menu-1, .Menu .Menu-2, .Menu .Menu-3, .Menu .Menu-4 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 3fr 3fr;
        grid-template-columns: 3fr 3fr 3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
  }
  .Menu .Menu-1 .Food1, .Menu .Menu-2 .Food1, .Menu .Menu-3 .Food1, .Menu .Menu-4 .Food1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/2/2;
    margin-left: 0em;
    margin-top: 0em;
    height: 4em;
  }
  .Menu .Menu-1 .Food2, .Menu .Menu-2 .Food2, .Menu .Menu-3 .Food2, .Menu .Menu-4 .Food2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1/2/2/3;
    margin-left: 0em;
    margin-top: 0;
    height: 4em;
  }
  .Menu .Menu-1 .Food3, .Menu .Menu-2 .Food3, .Menu .Menu-3 .Food3, .Menu .Menu-4 .Food3 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 1/3/2/4;
    margin-left: 0em;
    margin-top: 0;
    height: 4em;
  }
}

@media screen and (min-width: 780px) {
  h1 {
    padding-left: 1em;
    padding-top: 0.5em;
  }
}

.fa-heart {
  color: white;
  background-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: grey;
  -moz-text-stroke-width: 1px;
  -moz-text-stroke-color: grey;
  padding-left: 1em;
}

.fa-heart ::before {
  content: "\f004";
  font-weight: bold;
  -webkit-transition: color 1s ease-in;
  transition: color 1s ease-in;
}

.fa-heart:hover::before, .fa-heart:active::before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  -webkit-text-stroke-width: 0px;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: -moz-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.Entrées :hover .euros, .Entrées :active .euros, .Plats :hover .euros, .Plats :active .euros, .Desserts :hover .euros, .Desserts :active .euros {
  background-color: white;
  margin-right: 0;
}

.Entrées :hover .Check, .Entrées :active .Check, .Plats :hover .Check, .Plats :active .Check, .Desserts :hover .Check, .Desserts :active .Check {
  border-radius: 0 1em 1em 0;
  margin-right: 0;
}

.Entrées :hover .Check i, .Entrées :active .Check i, .Plats :hover .Check i, .Plats :active .Check i, .Desserts :hover .Check i, .Desserts :active .Check i {
  -webkit-animation: turn 0.5s;
  animation: turn 0.5s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  color: white;
}

.Entrées :hover .description, .Entrées :active .description, .Plats :hover .description, .Plats :active .description, .Desserts :hover .description, .Desserts :active .description {
  margin-left: 0;
}

.Entrées :hover .description p, .Entrées :active .description p, .Plats :hover .description p, .Plats :active .description p, .Desserts :hover .description p, .Desserts :active .description p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 12em;
}

@media screen and (min-width: 780px) {
  .Entrées :hover .description p, .Entrées :active .description p, .Plats :hover .description p, .Plats :active .description p, .Desserts :hover .description p, .Desserts :active .description p {
    width: 10em;
  }
}

.Entrées :hover .description h3, .Entrées :active .description h3, .Plats :hover .description h3, .Plats :active .description h3, .Desserts :hover .description h3, .Desserts :active .description h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 12em;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

@media screen and (min-width: 780px) {
  .Entrées :hover .description h3, .Entrées :active .description h3, .Plats :hover .description h3, .Plats :active .description h3, .Desserts :hover .description h3, .Desserts :active .description h3 {
    width: 11em;
  }
}

.Entrées :hover .Food1, .Entrées :hover .Food2, .Entrées :hover .Food3, .Entrées :active .Food1, .Entrées :active .Food2, .Entrées :active .Food3, .Plats :hover .Food1, .Plats :hover .Food2, .Plats :hover .Food3, .Plats :active .Food1, .Plats :active .Food2, .Plats :active .Food3, .Desserts :hover .Food1, .Desserts :hover .Food2, .Desserts :hover .Food3, .Desserts :active .Food1, .Desserts :active .Food2, .Desserts :active .Food3 {
  margin-left: 10rem;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

@media screen and (min-width: 650px) {
  .Entrées :hover .Food1, .Entrées :hover .Food2, .Entrées :hover .Food3, .Entrées :active .Food1, .Entrées :active .Food2, .Entrées :active .Food3, .Plats :hover .Food1, .Plats :hover .Food2, .Plats :hover .Food3, .Plats :active .Food1, .Plats :active .Food2, .Plats :active .Food3, .Desserts :hover .Food1, .Desserts :hover .Food2, .Desserts :hover .Food3, .Desserts :active .Food1, .Desserts :active .Food2, .Desserts :active .Food3 {
    margin-left: 11rem;
  }
}

@media screen and (min-width: 780px) {
  .Entrées :hover .Food1, .Entrées :hover .Food2, .Entrées :hover .Food3, .Entrées :active .Food1, .Entrées :active .Food2, .Entrées :active .Food3, .Plats :hover .Food1, .Plats :hover .Food2, .Plats :hover .Food3, .Plats :active .Food1, .Plats :active .Food2, .Plats :active .Food3, .Desserts :hover .Food1, .Desserts :hover .Food2, .Desserts :hover .Food3, .Desserts :active .Food1, .Desserts :active .Food2, .Desserts :active .Food3 {
    margin-left: -6rem;
  }
}

.Entrées .Choix-menu, .Entrées .Choix-menu2, .Entrées .Choix-menu3, .Entrées .Choix-menu4, .Plats .Choix-menu, .Plats .Choix-menu2, .Plats .Choix-menu3, .Plats .Choix-menu4, .Desserts .Choix-menu, .Desserts .Choix-menu2, .Desserts .Choix-menu3, .Desserts .Choix-menu4 {
  border-radius: 1em;
  background-color: white;
  -webkit-box-shadow: 5px 5px 15px 5px grey;
          box-shadow: 5px 5px 15px 5px grey;
  margin: 0 0em 1em 1em;
  padding: 0 0em 0 1em;
  height: 4.5em;
  width: 20em;
  position: relative;
  -webkit-animation: Defilement 2s;
  animation: Defilement 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  overflow: hidden;
}

.Entrées .Choix-menu i, .Entrées .Choix-menu2 i, .Entrées .Choix-menu3 i, .Entrées .Choix-menu4 i, .Plats .Choix-menu i, .Plats .Choix-menu2 i, .Plats .Choix-menu3 i, .Plats .Choix-menu4 i, .Desserts .Choix-menu i, .Desserts .Choix-menu2 i, .Desserts .Choix-menu3 i, .Desserts .Choix-menu4 i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.Entrées .Choix-menu p, .Entrées .Choix-menu2 p, .Entrées .Choix-menu3 p, .Entrées .Choix-menu4 p, .Plats .Choix-menu p, .Plats .Choix-menu2 p, .Plats .Choix-menu3 p, .Plats .Choix-menu4 p, .Desserts .Choix-menu p, .Desserts .Choix-menu2 p, .Desserts .Choix-menu3 p, .Desserts .Choix-menu4 p {
  margin-top: -10px;
  font-size: 0.9em;
}

.Entrées .Choix-menu h3, .Entrées .Choix-menu2 h3, .Entrées .Choix-menu3 h3, .Entrées .Choix-menu4 h3, .Plats .Choix-menu h3, .Plats .Choix-menu2 h3, .Plats .Choix-menu3 h3, .Plats .Choix-menu4 h3, .Desserts .Choix-menu h3, .Desserts .Choix-menu2 h3, .Desserts .Choix-menu3 h3, .Desserts .Choix-menu4 h3 {
  padding-top: 0px;
  font-size: 1em;
}

.Entrées .Choix-menu .Choix-menu2, .Entrées .Choix-menu2 .Choix-menu2, .Entrées .Choix-menu3 .Choix-menu2, .Entrées .Choix-menu4 .Choix-menu2, .Plats .Choix-menu .Choix-menu2, .Plats .Choix-menu2 .Choix-menu2, .Plats .Choix-menu3 .Choix-menu2, .Plats .Choix-menu4 .Choix-menu2, .Desserts .Choix-menu .Choix-menu2, .Desserts .Choix-menu2 .Choix-menu2, .Desserts .Choix-menu3 .Choix-menu2, .Desserts .Choix-menu4 .Choix-menu2 {
  -webkit-animation: Defilement 2s;
  animation: Defilement 2s;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.Entrées .Choix-menu .Choix-menu3, .Entrées .Choix-menu2 .Choix-menu3, .Entrées .Choix-menu3 .Choix-menu3, .Entrées .Choix-menu4 .Choix-menu3, .Plats .Choix-menu .Choix-menu3, .Plats .Choix-menu2 .Choix-menu3, .Plats .Choix-menu3 .Choix-menu3, .Plats .Choix-menu4 .Choix-menu3, .Desserts .Choix-menu .Choix-menu3, .Desserts .Choix-menu2 .Choix-menu3, .Desserts .Choix-menu3 .Choix-menu3, .Desserts .Choix-menu4 .Choix-menu3 {
  -webkit-animation: Defilement 2s;
  animation: Defilement 2s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.Entrées .Choix-menu .Choix-menu4, .Entrées .Choix-menu2 .Choix-menu4, .Entrées .Choix-menu3 .Choix-menu4, .Entrées .Choix-menu4 .Choix-menu4, .Plats .Choix-menu .Choix-menu4, .Plats .Choix-menu2 .Choix-menu4, .Plats .Choix-menu3 .Choix-menu4, .Plats .Choix-menu4 .Choix-menu4, .Desserts .Choix-menu .Choix-menu4, .Desserts .Choix-menu2 .Choix-menu4, .Desserts .Choix-menu3 .Choix-menu4, .Desserts .Choix-menu4 .Choix-menu4 {
  -webkit-animation: Defilement 2s;
  animation: Defilement 2s;
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

.Entrées .Choix-menu .description, .Entrées .Choix-menu2 .description, .Entrées .Choix-menu3 .description, .Entrées .Choix-menu4 .description, .Plats .Choix-menu .description, .Plats .Choix-menu2 .description, .Plats .Choix-menu3 .description, .Plats .Choix-menu4 .description, .Desserts .Choix-menu .description, .Desserts .Choix-menu2 .description, .Desserts .Choix-menu3 .description, .Desserts .Choix-menu4 .description {
  margin-left: -0.5em;
  cursor: pointer;
  border-radius: 1em;
}

@media screen and (min-width: 650px) {
  .Entrées, .Plats, .Desserts {
    width: 30em;
  }
}

@media screen and (min-width: 780px) {
  .Entrées, .Plats, .Desserts {
    width: 80%;
  }
  .Entrées .Choix-menu, .Entrées .Choix-menu2, .Entrées .Choix-menu3, .Entrées .Choix-menu4, .Plats .Choix-menu, .Plats .Choix-menu2, .Plats .Choix-menu3, .Plats .Choix-menu4, .Desserts .Choix-menu, .Desserts .Choix-menu2, .Desserts .Choix-menu3, .Desserts .Choix-menu4 {
    width: 21em;
    margin-left: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .Entrées .Choix-menu h3, .Entrées .Choix-menu2 h3, .Entrées .Choix-menu3 h3, .Entrées .Choix-menu4 h3, .Plats .Choix-menu h3, .Plats .Choix-menu2 h3, .Plats .Choix-menu3 h3, .Plats .Choix-menu4 h3, .Desserts .Choix-menu h3, .Desserts .Choix-menu2 h3, .Desserts .Choix-menu3 h3, .Desserts .Choix-menu4 h3 {
    margin-top: -0.1em;
    width: 19em;
    font-size: 1.1em;
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
    -webkit-transition-duration: 0.1s;
            transition-duration: 0.1s;
    white-space: nowrap;
    overflow: hidden;
  }
  .Entrées .Choix-menu p, .Entrées .Choix-menu2 p, .Entrées .Choix-menu3 p, .Entrées .Choix-menu4 p, .Plats .Choix-menu p, .Plats .Choix-menu2 p, .Plats .Choix-menu3 p, .Plats .Choix-menu4 p, .Desserts .Choix-menu p, .Desserts .Choix-menu2 p, .Desserts .Choix-menu3 p, .Desserts .Choix-menu4 p {
    width: 20em;
  }
  .Entrées .Choix-menu .description, .Entrées .Choix-menu2 .description, .Entrées .Choix-menu3 .description, .Entrées .Choix-menu4 .description, .Plats .Choix-menu .description, .Plats .Choix-menu2 .description, .Plats .Choix-menu3 .description, .Plats .Choix-menu4 .description, .Desserts .Choix-menu .description, .Desserts .Choix-menu2 .description, .Desserts .Choix-menu3 .description, .Desserts .Choix-menu4 .description {
    width: 18em;
    padding-top: 10px;
  }
}

@-webkit-keyframes Defilement {
  from {
    top: 100%;
  }
  to {
    top: 0%;
  }
}

@keyframes Defilement {
  from {
    top: 100%;
  }
  to {
    top: 0%;
  }
}

@-webkit-keyframes Apparition {
  from {
    right: -100px;
  }
  to {
    right: 6px;
  }
}

@keyframes Apparition {
  from {
    right: -100px;
  }
  to {
    right: 6px;
  }
}

@-webkit-keyframes turn {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes turn {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.button-page {
  background: #f04fc3;
  background: -webkit-gradient(linear, left top, left bottom, from(#f04fc3), to(#6f3dac));
  background: linear-gradient(180deg, #f04fc3 0%, #6f3dac 100%);
  color: white;
  padding: 1em 1.5em 1em 1.5em;
  border-radius: 1.5em;
  border-color: white;
  margin-left: 34%;
}

@media screen and (min-width: 780px) {
  .button-page {
    margin-left: 43%;
  }
}
/*# sourceMappingURL=main.css.map */