.Logo-retour{
    color: grey;
    margin-top: -25px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.Menu-1, .Menu-2, .Menu-3, .Menu-4{
  & h1{
    font-size: 1.7em;
    font-family: Shrikhand,sans-serif;
   & i{
      padding-left: 50px;
      color: rgb(161, 144, 144);
    }
  }
 & img{
    height: 20em;
    width: 100%; 
 }
 & h2{
   width: 3em;
   border-bottom: solid 2px $color-tertiary;
   margin-left: 1em;
}
}
.Entrées, .Plats, .Desserts{
    & .Choix-menu{
      border-radius: 1em;
      box-shadow: 5px 5px 15px 5px grey;
      text-overflow: ellipsis;
      margin: 0 1em 1em 1em;
      padding: 0 1em 0 1em;
      height: 4em;
      & i{
        display: flex;
        justify-content: flex-end;
      }
      & p{
        margin-top: -15px;
        padding-bottom: 0.3em;
        display: flex;
        flex-wrap: wrap;
        font-size:0.9em;       
      }
       & span {
        padding-left:1em;  
       }
       & h3{
        padding-top: 5px;
       }
    }
}
.button-page{
@include bouton;
margin-left: 9em;
}
