#Restaurant {
    display: flex;
    flex-direction: column;
    & .Restoration,.Restoration1, .Restoration2, .Restoration3 {
        box-shadow: 5px 5px 15px 5px grey;
        border-radius: 1em;
        margin-bottom: 10px;
        margin-left: 2em;
        width: 80%;
        & img{
            width: 100%;
            height: 8em;
            border-radius: 1em 1em 0 0;
        }
        & figure{
            margin: 0;
            font-weight: bold;
            & span{
                background-color: $color-tertiary;
                padding:0.3em 1em 0.3em 1em;
                position: absolute;
                margin-left: -7em;
                margin-top: 10px;
                color: rgb(19, 94, 19);
            }
        }
        & figcaption {
            text-align: left;
            padding-left: 10px;
        }
        & p {
            text-align: left;
            margin: 5px 0 25px 10px;
            & i{
                display: flex;
                justify-content: flex-end;
                margin-top: -30px;
                margin-right: 15px;
                font-size:1.5em ;
            }
        }
    }
    // .Heart1{
    //     color: #FFF;
    //     border-radius: 50%;
    //     padding: .2em;
    // }
    // .Heart1 ::before {
    //     content: "\f004";
    //     color: gray;
    //     font-weight: bold;
    //     transition: color 1s ease-out;
    // }
    // .Heart1:hover::before{
    //     color: $color-secondary;
    //     cursor: pointer;
    // }
        @media screen and(min-width:780px) {
           display: grid;
           grid-template-columns: 1fr 1fr;
           grid-template-rows: 1fr 1fr 1fr;
           grid-column-gap: 0px;
           grid-row-gap: 0px;
        & h2 {
            grid-area: 1 / 1 / 2 / 3;
            height: 2em;
            padding-left: 1%;
        }
      & .Restoration { 
          grid-area: 2 / 1 / 3 / 2;
          height: 14em;
          margin-top: -6em;
      }
      & .Restoration1{
          grid-area: 2 / 2 / 3 / 3;
          height: 14em;
          margin-top: -6em;
        }
      & .Restoration2{
         grid-area: 3 / 1 / 4 / 2;
         height: 14em;
         margin-top: -2em;
      }
      & .Restoration3{
        grid-area: 3 / 2 / 4 / 3; 
        height: 14em;
        margin-top: -2em;
     }
    }
}

