html{
    width: 100%;
}
body{
    margin:0;
}
* {
    font-family: Roboto,sans-serif;
}
#Menu h1{
    font-family: 'Shrikhand', cursive;
}
.Menu-1 h1{
    font-family: 'Shrikhand', cursive;
}
h2{
    font-weight: bold;
}
ul{
    list-style-type: none;
}
.recherche i {
    color: grey;
}   
a {
    text-decoration: none;
}

