html{
    width: 100%;
    height: 100%;
}
body{
    margin:0;
    width: 100%;
    height: 100%;
}
.loading {
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left:0;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    & .loader{
        width: 100%;
        height: 100%;
        position: relative;
        animation: load 2s both ;
        display: flex;
        align-items: center;
        justify-content: center;
    }
 }
 @keyframes load {
     0%{
       opacity: 0.4;
       background-color: $color-secondary;
     }
     90%{
        opacity:0;
        background-color: $color-secondary;
     }
     100%{
         opacity: 0.2;
         background-color: $color-secondary;
     }
 }
* {
    font-family: Roboto,sans-serif;
}
#Menu h1{
    font-family: 'Shrikhand', cursive;
}
.Menu-1 h1{
    font-family: 'Shrikhand', cursive;
}
h2{
    font-weight: bold;
    padding-left: 5px;
}
ul{
    list-style-type: none;
}
.recherche i {
    color: grey;
}   
a {
    text-decoration: none;
}

